@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}


.max-width{
  max-width: 1140px;
  margin: auto;
}

  #scrollToTopBtnmain {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

#scrollToTopBtnmain.show {
  display: block;
}


.line_opportunity{
  position: absolute;
  transform: rotate(90deg);
  /* bottom: 0px; */
  top: 63%;
  width: 500px;
  left: 127px;
}


.opportunity_desc, .line-height-custom{
  line-height: 1.8;
}